<div class="row">
    <h1>Listagem de Cidades</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <td colspan="5">
                <button class="btn btn-success" (click)="cityInsertService.showModalInsert()">Nova Cidade</button>
            </td>
        </tr>
        <tr>
            <th style="width: 65%">Nome</th>
            <th style="width: 5%">Estado</th>
            <th style="width: 10%">Sigla</th>
            <th style="width: 10%">Criado Em</th>
            <th style="width: 10%">Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let city of cities | paginate: {itemsPerPage: pagination.itemsPerPage, currentPage: pagination.page, totalItems: pagination.totalItems}">
            <td>{{ city.city_name }}</td>
            <td>{{ city.state.state_name }}</td>
            <td>{{ city.state.initials }}</td>
            <td>{{ city.created_at | date: 'dd/MM/yyyy' }}</td>
            <td>
                <a href="javascript:void(0)" (click)="cityEditService.showModalEdit(city.id)">
                    <i class="fas fa-edit"></i>
                </a>
                |
                <a href="javascript:void(0)" (click)="cityDeleteService.showModalDelete(city.id)">
                    <i class="fas fa-trash-alt"></i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <pagination-controls
            (pageChange)="pageChanged($event)"
            previousLabel="Anterior"
            nextLabel="Próximo"
    ></pagination-controls>
</div>
<city-new-modal (onSuccess)="cityInsertService.onInsertSuccess($event)"
                (onError)="cityInsertService.onInsertError($event)"></city-new-modal>
<city-edit-modal [cityId]="cityId" (onSuccess)="cityEditService.onEditSuccess($event)"
                 (onError)="cityEditService.onEditError($event)"></city-edit-modal>
<city-delete-modal [cityId]="cityId" (onSuccess)="cityDeleteService.onDeleteSuccess($event)"
                   (onError)="cityDeleteService.onDeleteError($event)"></city-delete-modal>