<div class="row">
  <h1>Listagem de Trocas Confirmadas</h1>
  <table class="table table-striped">
    <thead>
    <tr>
      <td colspan="3">
        <exchange-search-form (onSearch)="search($event)"></exchange-search-form>
      </td>
    </tr>
    <tr>
      <th style="width: 10%" [sortColumn]="sortColumn" columnName="unit" (onSort)="sort($event)">Unidade</th>
      <th style="width: 10%" [sortColumn]="sortColumn" columnName="sector" (onSort)="sort($event)">Setor</th>
      <th style="width: 15%" [sortColumn]="sortColumn" columnName="user1" (onSort)="sort($event)">Nome</th>
      <th style="width: 15%" [sortColumn]="sortColumn" columnName="user2" (onSort)="sort($event)">Nome</th>
      <th style="width: 10%" [sortColumn]="sortColumn" columnName="date" (onSort)="sort($event)">Data</th>
      <th style="width: 15%" [sortColumn]="sortColumn" columnName="created_at" (onSort)="sort($event)">Confirmada Em</th>
      <th style="width: 10%">Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let exchange of exchangesConfirm | paginate: {itemsPerPage: pagination.itemsPerPage, currentPage: pagination.page, totalItems: pagination.totalItems}">
      <td>{{exchange.unit.unit_name}}</td>
      <td>{{exchange.sector.sector_name}}</td>
      <td>{{exchange.user1.username}}</td>
      <td>{{exchange.user2.username}}</td>
      <td>{{exchange.date | date: 'dd/MM/yyyy'}}</td>
      <td>{{exchange.date_confirmation | date: 'dd/MM/yyyy'}}</td>
      <td>
        <a href="javascript:void(0)" (click)="exchangeAuthorizeService.showModalAuthorize(exchange.id)">
          <i class="fas fa-thumbs-up"></i>
        </a>
        |
        <a href="javascript:void(0)" (click)="exchangeCancelService.showModalCancel(exchange.id)">
          <i class="fas fa-ban"></i>
        </a>
      </td>
    </tr>
    </tbody>
  </table>
  <pagination-controls
          (pageChange)="pageChange($event)"
          previousLabel="Anterior"
          nextLabel="Próximo"
  ></pagination-controls>
</div>
<exchange-authorize-modal [exchangeId]="exchangeId" (onSuccess)="exchangeAuthorizeService.onAuthorizeSuccess($event)"
                          (onError)="exchangeAuthorizeService.onAuthorizeError($event)"></exchange-authorize-modal>
<exchange-cancel-modal [exchangeId]="exchangeId" (onSuccess)="exchangeCancelService.onCancelSuccess($event)"
                       (onError)="exchangeCancelService.onCancelError($event)"></exchange-cancel-modal>
