<div class="row">
  <h1>Listagem de Setores</h1>
  <table class="table table-striped">
    <thead>
    <tr>
      <td colspan="2">
        <button class="btn btn-success" (click)="sectorInsertService.showModalInsert()">Novo Setor</button>
      </td>
      <td colspan="5">
        <sector-search-form (onSearch)="search($event)"></sector-search-form>
      </td>
    </tr>
    <tr>
      <th style="width: 10%" [sortColumn]="sortColumn" columnName="id" (onSort)="sort($event)">Id</th>
      <th style="width: 50%" [sortColumn]="sortColumn" columnName="sector_name" (onSort)="sort($event)">Nome</th>
      <th style="width: 20%" [sortColumn]="sortColumn" columnName="created_at" (onSort)="sort($event)">Criado Em</th>
      <th style="width: 20%">Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let sector of sectors | paginate: {itemsPerPage: pagination.itemsPerPage, currentPage: pagination.page, totalItems: pagination.totalItems}">
      <td>{{ sector.id }}</td>
      <td>{{ sector.sector_name }}</td>
      <td>{{ sector.created_at | date: 'dd/MM/yyyy' }}</td>
      <td>
        <a href="javascript:void(0)" (click)="sectorEditService.showModalEdit(sector.id)">
          <i class="fas fa-edit"></i>
        </a>
        |
        <a href="javascript:void(0)" (click)="sectorDeleteService.showModalDelete(sector.id)">
          <i class="fas fa-trash-alt"></i>
        </a>
      </td>
    </tr>
    </tbody>
  </table>
  <pagination-controls
          (pageChange)="pageChanged($event)"
          previousLabel="Anterior"
          nextLabel="Próximo"
  ></pagination-controls>
</div>
<sector-new-modal (onSuccess)="sectorInsertService.onInsertSuccess($event)"
                (onError)="sectorInsertService.onInsertError($event)"></sector-new-modal>
<sector-edit-modal [sectorId]="sectorId" (onSuccess)="sectorEditService.onEditSuccess($event)"
                 (onError)="sectorEditService.onEditError($event)"></sector-edit-modal>
<sector-delete-modal [sectorId]="sectorId" (onSuccess)="sectorDeleteService.onDeleteSuccess($event)"
                   (onError)="sectorDeleteService.onDeleteError($event)"></sector-delete-modal>
