<form (submit)="submit()">
  <modal (onHide)="hideModal($event)">
    <h5 modal-title>
      Nova Unidade
    </h5>
    <div modal-body>
      <div class="form-group">
        <label for="unit_name">Nome</label>
        <input type="text" class="form-control" id="unit_name" name="unit_name" required [(ngModel)]="unit.unit_name">
      </div>
    </div>
    <div modal-footer>
      <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
      <button type="submit" class="btn btn-success">Salvar</button>
    </div>
  </modal>
</form>
